In [1]:
from bs4 import BeautifulSoup
import requests

import mysql.connector as mysql
from mysql.connector import Error

In [1]:
user = 'root'
password = 'example'
host = 'localhost'
port = 3308
database = 'allociné'

try:
    conn = mysql.connect(host=host, port=port, user=user, password=password, database=database)
    if conn.is_connected():
        cursor = conn.cursor()
        
        for i in range(1, 668):
            url = f'https://www.allocine.fr/film/fichefilm-61282/critiques/spectateurs/?page={i}'
            response = requests.get(url)
            soup = BeautifulSoup(response.text,'html.parser')

            links=soup.findAll('div', {"class": "hred review-card cf"})
    
            cursor = conn.cursor()

            for link in links:
                try:    
                    note = link.find("span", {'class':"stareval-note"}).text.replace(',', '.')      
                    commentaire = link.find("div", {'class':"content-txt review-card-content"}).text.replace('"', '')

                    sql = f"""INSERT INTO avatar1 (note, commentaire) VALUES ({float(note)}, "{commentaire}")"""
                    cursor.execute(sql)
                    print("Record inserted")
                    conn.commit()
                except Error as e:
                    print(e)
                    print(note)
                    print(commentaire)
except Error as e:
            print("Error while connecting to MySQL", e)

NameError: name 'Error' is not defined

In [7]:
sql = "SELECT id_commentaire, commentaire FROM allociné.avatar1 ORDER BY id_commentaire DESC LIMIT 1"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

[(10019, "\nmagnifique un pur chef d'oeuvre . a voir absolument en 3D !!! Des décords a couper le souffle des personnages tres attachant .que dire d autre a part bravo\n")]